// Variables
$maxWidth: 60vw;
$colorPrimaryDark: #00274f;
$colorPrimary: #3061a3;
$colorNeutralDark: #111;
$colorNeutral: #8C8D91;
$colorNeutralLight: #FBFCFC;
$colorText: #555;
$colorWhite: #FFF;
$colorBlack: #000;
